.sayfa1 .baslik-alani .ust_yazi_baslik  {
    font-size: 2.2rem !important;
    text-align: center !important;
    text-decoration: underline;
}
.yazi_baslik {
    text-align: center;
    font-size: 1.6rem;
    margin: 30px 0px;
}
.sola_yasla {float:left}












